# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Java/Spring Boot Build Folders
.gradle/
build/
out/

# IDE Settings (IntelliJ)
.idea/
*.iml
*.iws

# Logs and Temp files
*.log
temp/
